.DS_Store
Diptrace/
Docs/

# Kicad.
*.kicad_prl
*.kicad_sch-bak
Kicad/*/gerber/
Kicad/*/*-backups/
Kicad/*/fp-info-cache

# PICAS-P16F1778-GP2Y0D21YK.
MplabX/PICAS-P16F1778-GP2Y0D21YK.X/Makefile
MplabX/PICAS-P16F1778-GP2Y0D21YK.X/build/
MplabX/PICAS-P16F1778-GP2Y0D21YK.X/debug/
MplabX/PICAS-P16F1778-GP2Y0D21YK.X/disassembly/
MplabX/PICAS-P16F1778-GP2Y0D21YK.X/dist/
MplabX/PICAS-P16F1778-GP2Y0D21YK.X/nbproject/
