.DS_Store
Diptrace/
Docs/
*.kicad_prl
*.kicad_sch-bak
Kicad/*/gerber/
Kicad/*/*-backups/
Kicad/*/fp-info-cache

# PIC-AS
MplabX/PICAS-P16F1778-GP2Y0D21YK.X/main.c
MplabX/PICAS-P16F1778-GP2Y0D21YK.X/Makefile
MplabX/PICAS-P16F1778-GP2Y0D21YK.X/build/
MplabX/PICAS-P16F1778-GP2Y0D21YK.X/disassembly/
MplabX/PICAS-P16F1778-GP2Y0D21YK.X/dist/
MplabX/PICAS-P16F1778-GP2Y0D21YK.X/nbproject/

# XC8
MplabX/XC8-P16F1778-TBOT.X/main.c
MplabX/XC8-P16F1778-TBOT.X/Makefile
MplabX/XC8-P16F1778-TBOT.X/build/
MplabX/XC8-P16F1778-TBOT.X/disassembly/
MplabX/XC8-P16F1778-TBOT.X/dist/
MplabX/XC8-P16F1778-TBOT.X/nbproject/

# XC8 DEBUG
#MplabX/XC8-P16F1778-DEBUG.X/main.c
MplabX/XC8-P16F1778-DEBUG.X/Makefile
MplabX/XC8-P16F1778-DEBUG.X/build/
MplabX/XC8-P16F1778-DEBUG.X/disassembly/
MplabX/XC8-P16F1778-DEBUG.X/dist/
MplabX/XC8-P16F1778-DEBUG.X/nbproject/
